.full-screen {
  width: 100%;
  height: 100vh;
  display: flex;
}
.full-screen video {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
  z-index: -1;
}

.banner {
  overflow: hidden;
  position: absolute;
  top: 78%;
  left: 34%;
  letter-spacing: 0.2rem;
}
.banner-subtitle {
  background-color: #080e10;
  color: #080e10;
  font-size: 2rem;
  border-radius: 10px;
  padding: 15px;
  transition: all 300ms ease-in-out;
  animation: slideFromLeft 5s ease-in-out 1, showBanner 40s ease-in-out infinite;
}
.banner-title {
  font-family: 'Kalam', cursive;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #070e10;
  margin-top: 1.5rem;
  line-height: 1.3;
  animation: slideFromRight 6s ease-in-out, showBanner 41s ease-in-out infinite;
}

.sound {
  position: absolute;
  top: 20px;
  right: 50px;
  display: flex;
  padding: 10px;
  align-items: center;
  font-size: 30px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
.play {
  position: absolute;
  top: 20px;
  right: 100px;
  display: flex;
  padding: 10px;
  align-items: center;
  font-size: 30px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
.mute-icon {
  transition: all 0.3s linear;
}
.play-icon {
  color: white;
}
.sound:hover .mute-icon,
.play:hover .play-icon {
  color: lightgray;
  font-weight: bold;
  transform: scale(1.1);
}

.go-shop {
  display: none;
  position: absolute;
  margin-top: 30rem;
  left: 40%;
  font-size: 18px;
  font-weight: bold;
  padding: 7px;
  background-color: black;
  border-radius: 5px;
  color: white;
  transition: all 300ms linear;
}
.go-shop:hover {
  background-color: rgba(0, 0, 0, 0.326);
  transform: scale(0.91);
}

@keyframes showBanner {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  82% {
    opacity: 1;
  }
  88% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideFromRight {
  0% {
    transform: translateX(450px);
  }
  25% {
    transform: translateX(-150px);
  }
  50% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-1000px);
  }
  50% {
    transform: translateX(150px);
  }
  75% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .banner-title,
  .banner-subtitle {
    display: none;
  }
  .video {
    opacity: 0.8;
  }
  /* .full-screen {
    background-repeat: no-repeat;
    background-size: cover;
  } */
  /* .video {
    display: none;
  } */

  .go-shop {
    display: block;
  }
  .play {
    right: 40px;
    font-size: 12px;
  }
  .sound {
    font-size: 12px;
    right: 15px;
  }
}
